<%- include('includes/header') %>
<%- include('includes/nav') %>
    <main class="container">
        <div class="row">
            <div class="col-lg-2"></div>

            <!-- My Content -->
            <div class="col-lg-8 my-3">
                <h1 class="display-1 text-center">myAgenda</h1>
                <p class="text-center lead">Seus contatos estão listados abaixo.</p>

                <%- include('includes/messages') %>

                <% if (contacts.length > 0) { %>
                    <section class="table-responsive">
                        <table class="table my-3">
                            <tbody>
                                <% contacts.forEach(contact => { %>
                                    <tr>
                                        <td><%= contact.name %></td>
                                        <td><%= contact.surname %></td>
                                        <td><%= contact.phone %></td>
                                        <td><%= contact.email %></td>
                                        <td><a href="/contato/<%= contact._id %>">Editar</a></td>
                                        <td><a href="#" class="text-danger"
                                            onclick="contact('/contato/delete/<%= contact._id %>')">Excluir</a></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </section>
                <% } else { %>
                    <p class="text-center lead">Não há contatos cadastrados.</p>
                <% } %>
            </div>

            <div class="col-lg-2"></div>
        </div>
    </main>

    <script>
        const contact = (value) => {
            if (window.confirm('Deseja apagar o contato?')) {
                location.href = `${value}`;
            }
        }
    </script>
<%- include('includes/footer') %>